
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


<ul class="nav flex-column">
    <li class="nav-item">
        <a class="nav-link active" href="#">Active</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
    </li>
    <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
    </li>
</ul>
<div class="btn-group-lg">
    <div class="col-md-offset-2 col-md-10">
        <input type="submit" value="Add Employee" class="btn btn-default" />
    </div>
</div>